
body {
  background-image: url(/img/diy-tools.jpg);
  background-size: cover;
  font-family: 'Playfair Display', serif;
}

#logo{
  height: 2rem;
}

.navbar{
  background-color: #476CB4;
  color: black;
}

.middle-div{
  width: 70vw;
  height: 100vh;
  margin: 0px auto;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
}

.middle-h1 {
  text-align: center;
}

.carousel {
  padding: 10px 0px;
}